#display-container {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: end;
    background: #404040;
    padding-right: 10px;
    font-size: 24px;
}

@media only screen and (min-width: 1366px) {
    #display-container {
        padding-right: 20px;
        height: 200px;
        font-size: 30px;
        margin-top: 15vh;
    }
}